#!/usr/bin/env bash

if [ "$(id -u)" -ne 0 ]; then
    echo "Error: Please run this script as root."
    exit 1
fi

# Stop services
echo "Stopping and disabling \"genkidama-donor\" service."
systemctl disable --now genkidama-donor.service || true

# Purge files
echo "Purfing configuration and unit files."
rm -rf $INSTALL_PATH
rm -rf $CONFIG_PATH
rm -f $SERVICE_FILE

# Remove users
echo "Removing user \"$GENKIDAMA_USER\""
userdel $GENKIDAMA_USER

# Reload Systemd
echo "Reloading systemd"
systemctl daemon-reload

# Finish
echo "Uninstall successfully complete!"

